<form>
	<label>
		Card Title
		<input type="text" name="card[title]">
	</label>
	<br>
	<label>
		Rank
		<input type="text" name="card[rank]">
	</label>
	
	<input id="submit-form" class="btn btn-success" type="submit" value="Add">	
	<button id="cancel-card" class="btn btn-danger glyphicon glyphicon-remove pull-right"></button>
</form>
