<h1>Boards</h1>
<div class="row">
	<% boards.each(function(board) { %>
		<div id="board-label" class="col-xs-3">
			<h2>
				<a class="board-link" href="#/boards/<%= board.escape('id') %>">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    <%= board.escape('title') %>
						</div>
					</div>
				</a>
			</h2>
		</div>
	<% }); %>
</div>
<br>
<a href="#/boards/new">
	<button type="button" class="btn btn-primary btn-md">
	  <span class="glyphicon glyphicon-plus"></span> Add Board
	</button>
</a>