<h1><%= board.escape("title") %> Board</h1>

<!-- <div class="col-xs-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Create a new list!
		</div>
	</div>
</div> -->

<div id="board-list" class="row"></div>
<div id="new-list-form"></div>
<button id="inactive-destroy" class="btn btn-warning">Delete Board</button>
<br>

