<h1><%= board.escape("title") %> Board</h1>
<% board.lists().each( function(list) { %>
	<h3><%= list.escape('title') %></h3>
<% }) %>
<div id="new-list-form"></div>
<button id="destroy">Delete Board</button>
<br>
<a href="#">Back to All Boards</a>