<h3>Make a New List</h3>
<form>
	<label>
		List Title
		<input type="text" name="list[title]">
	</label>
	<br>
	<label>
		List Rank
		<input type="text" name="list[rank]">
	</label>
	<br>
	<input type="submit" value="Create List">	
</form>