<h3>Make a New List</h3>
<form>
	<input type="hidden" name="list[board_id]" value="<%= board.escape('id') %>">
	<label>
		List Title
		<input type="text" name="list[title]">
	</label>
	<br>
	<label>
		List Rank
		<input type="text" name="list[rank]">
	</label>
	<br>
	<input class="btn btn-primary" type="submit" value="Create List">	
</form>